

<div class="g-grid--row">
    <div class="g-grid--indent">
        <div class="g-grid--span8">
          
          <h1 class="g-h1">{{destination.destinationCode}}</h1>
          <p>{{destination.introText}}</p>

        </div>
        <div class="g-grid--span4">
          
          <img src="http://www.klm.com{{destination.visualUrlSmall}}" class="tif-image" ng-if="destination.visualUrlSmall" />

        </div>
    </div>
</div>


<!--
<span data-srcset="static/img/stubs/San-Francisco-Paragraph_Small-image_300_300_80percent.jpg 300w, static/img/stubs/San-Francisco-Paragraph_Small-image_480_240.jpg 480w, static/img/stubs/San-Francisco-Paragraph_Small-image_700_350.jpg 700w, static/img/stubs/San-Francisco-Paragraph_Small-image_600_600_50percent.jpg 1.5x, static/img/stubs/San-Francisco-Paragraph_Small-image_300_300_80percent.jpg 300w 2x, static/img/stubs/San-Francisco-Paragraph_Small-image_480_240.jpg 480w 2x, static/img/stubs/San-Francisco-Paragraph_Small-image_700_350.jpg 700w 2x, static/img/stubs/San-Francisco-Paragraph_Small-image_600_600_50percent.jpg 2x" class="js-g-img g-img-lazy tif-img-cropped g-img-ratio-1-1" data-img-type="lazy" title="Taman corals"></span>
-->